LoopsEx/.vs/LoopsEx/v16/.suo
LoopsEx/LoopsEx/bin/Debug/netcoreapp3.1/LoopsEx.deps.json
LoopsEx/LoopsEx/bin/Debug/netcoreapp3.1/LoopsEx.dll
LoopsEx/LoopsEx/bin/Debug/netcoreapp3.1/LoopsEx.exe
LoopsEx/LoopsEx/bin/Debug/netcoreapp3.1/LoopsEx.pdb
LoopsEx/LoopsEx/bin/Debug/netcoreapp3.1/LoopsEx.runtimeconfig.dev.json
LoopsEx/LoopsEx/bin/Debug/netcoreapp3.1/LoopsEx.runtimeconfig.json
LoopsEx/LoopsEx/obj/Debug/netcoreapp3.1/LoopsEx.csproj.CoreCompileInputs.cache
LoopsEx/LoopsEx/obj/Debug/netcoreapp3.1/LoopsEx.csproj.FileListAbsolute.txt
LoopsEx/LoopsEx/obj/Debug/netcoreapp3.1/LoopsEx.csprojAssemblyReference.cache
LoopsEx/LoopsEx/obj/Debug/netcoreapp3.1/LoopsEx.dll
LoopsEx/LoopsEx/obj/Debug/netcoreapp3.1/LoopsEx.exe
LoopsEx/LoopsEx/obj/Debug/netcoreapp3.1/LoopsEx.genruntimeconfig.cache
LoopsEx/LoopsEx/obj/Debug/netcoreapp3.1/LoopsEx.pdb
